<div class="hero_area">
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="home.html"><img width="250" src="images/home.png" alt="#" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Profile <span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Settings</a></li>
                                <li><a href="">Riwayat</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"
                                onclick="event.preventDefault(); document.getElementById('logout-form').submit();">LogOut</a>
                            <form id="logout-form" action="/logout" method="DELETE" style="display: none;">
                                <input type="hidden" name="_method" value="DELETE">
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                    <path
                                        d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section class="slider_section ">
        <div class="slider_bg_box">
            <img src="images/man.jpg" alt="">
        </div>
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 ">
                                <div class="detail-box">
                                    <h1>
                                        <span>
                                            Seminar
                                        </span>
                                        Hasil
                                    </h1>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                        praesentium aspernatur nulla, voluptatibus veritatis nesciunt? Optio
                                        accusamus, aut asperiores magnam itaque dolorum ex tenetur nulla odio, natus
                                        neque ipsum hic nam autem. Molestias, saepe ratione. Porro veritatis
                                        suscipit expedita eligendi! Quaerat aut eum unde cumque amet consequuntur
                                        libero voluptatibus a.
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">
                                            Daftar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 ">
                                <div class="detail-box">
                                    <h1>
                                        <span>
                                            Jadwal
                                        </span>
                                        <br>
                                        Seminar Hasil
                                    </h1>
                                    <p>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, porro?
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">
                                            Atur Jadwal
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>