<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Login </title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <div class="cover">
      <div class="front">
        <img src="images/seminar.jpg" alt="">
        <div class="text">
          <span class="text-1">Pendaftaran <br> Seminar Hasil</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Login</div>
          <form method="POST" action="/login">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" name="email" placeholder="E-mail" id="email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Password" id="password" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {{#if message}}
    <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}
  </div>
</body>

</html>