<style>
    section {
        margin: 0;
        background-color: #ffffff;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100vh;
        padding-left: 50px;
        padding-top: 30px;
        padding-right: 30px;
    }

    .container-1 {
        text-align: center;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        padding-top: 50px;
    }

    .form-container {
        display: inline-block;
        text-align: left;
        padding: 20px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        width: 500px;
    }

    .form-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .form-list li {
        margin-bottom: 10px;
    }

    .form-list .action-item {
        display: flex;
        justify-content: end;
    }

    .form-list .action-item a {
        color: #000000;
        font-size: 14px;
    }

    .form-list .action-item a:hover {
        transform: translateX(10px);
        transition: all 0.3s ease-in-out 0.1s;
    }
</style>

{{> navbar}}

<div class="container-1">
    <h1>Riwayat Seminar Hasil Anda</h1>
    <section>
        <div class="form-container">
            <ul class="form-list">
                <li>
                    Nama <br>
                    NIM <br>
                    Judul <br>
                    Dosen Pembimbing <br>
                </li> <br>
                <li class="action-item">
                    <a href="/detailRiwayat">Details <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                            <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                        </svg></a>
                </li>
            </ul>
        </div>
    </section>
</div>